
<div>
<br>
<br>


<select style="margin-left: 50px;" id="select_tag"  (change)="select_table($event.target.value)">
  <option value="">choose table</option>

  <option name="nom_client" *ngFor="let table of list_of_tables" value="{{table}}"> {{ table }} </option>

  

</select>






<select style="margin-left: 50px;" id="select_colone_x"  (change)="select_colone_x($event.target.value)">
  <option value="">choose colonne x axis </option>

  <option name="colonne_x" *ngFor="let colon_x of colons_x" value="{{colon_x}}"> {{ colon_x }} </option>

  

</select>



<select style="margin-left: 50px;" id="select_colone_y"  (change)="select_colone_y($event.target.value)">
  <option value="">choose colonne y axis </option>

  <option name="colonne_y" *ngFor="let colon_y of colons_y" value="{{colon_y}}"> {{ colon_y }} </option>

  

</select>


<select style="margin-left: 50px;" id="select_chart"  (change)="select_chart($event.target.value)">
  <option value="">choose type of chart </option>

  <option  value="vertical_bar_chart"> vertical_bar_chart </option>

  <option  value="horinzontal_bar_chart"> horinzontal bar chart </option>  

  <option  value="pie_chart"> pie chart </option>  

  <option  value="advanced_pie_chart"> advanced pie chart </option>  

  <option  value="grid_pie_chart"> grid pie chart </option>  


</select>


<!-- filter select -->

<select  style="margin-left: 50px;" id="select_filter"  (change)="select_filter($event.target.value)">
  <option value="">choose to filter column </option>

  <option name="colonne_x" *ngFor="let colon_x of colons_x" value="{{colon_x}}"> {{ colon_x }} </option> 


</select>

<br>
<br>
<div id="ab" style="display: none;" >
<div class="input-group mb-3">
  <input id="equal" #in1 (keyup)="key_event(in1)" name="equal" type="text" class="ab" placeholder="equal to ...." aria-label="Username" aria-describedby="basic-addon1">
</div>
<br>
<div class="input-group mb-3">
  <input id="greater" #in2 (keyup)="key_event(in2)" type="text" class="ab" placeholder="greater than ...." aria-label="Username" aria-describedby="basic-addon1">
</div>
<br>
<div class="input-group mb-3">
  <input id="less" #in3 (keyup)="key_event(in3)" type="text" class="ab" placeholder="less than ...." aria-label="Username" aria-describedby="basic-addon1">
</div>
</div>

<button id="btn_get_result" (click)="getResult()"> get result </button>


<br>
<br>
<br>
<br>


<table>

  <tr>

    <td >

      <ngx-charts-bar-vertical id="vertical_bar_chart"  style="display: none;"
        [view]="[1000,400]"
    [results]="books"
    [xAxisLabel]="colon_x_selected"
    [legendTitle]="colon_y_selected +' en fonction de '+ colon_x_selected"
    [yAxisLabel]="colon_y_selected"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="true"
    [animations]="true"
    (select)="onSelectVertical_chart($event)"
     >
     </ngx-charts-bar-vertical>


    </td>

  </tr>



  <tr>

    <td>


    
      <ngx-charts-bar-horizontal id="horinzontal_bar_chart"  style="display: none;"
        [view]="[1000,400]"
    [results]="books"
    [xAxisLabel]="colon_x_selected"
    [legendTitle]="colon_y_selected +' en fonction de '+ colon_x_selected"
    [yAxisLabel]="colon_y_selected"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    [xAxis]="true"
    [yAxis]="true"
    [gradient]="true"
    [animations]="true"
    (select)="onSelectHorizontal_chart($event)"
     >
     </ngx-charts-bar-horizontal>


    </td>


  </tr>

  <tr>

    <td>


      <ngx-charts-pie-chart id="pie_chart"  style="display: none;"
    [view]="[1000,400]"
    [results]="books"
    [legend]="true"   
    [gradient]="true"
    [animations]="true"
    (select)="onSelectpie_chart($event)" >
</ngx-charts-pie-chart>

    </td>


  </tr>




  <tr>

    <td>


      <ngx-charts-advanced-pie-chart id="advanced_pie_chart"  style="display: none;"
      [view]="[1000,400]"
      [results]="books"
      [gradient]="true"
      [animations]="true"
      (select)="onSelect_advanced_pie_chart($event)">
</ngx-charts-advanced-pie-chart>
      

    </td>

  </tr>


  <tr>
    <td>
    
      <ngx-charts-pie-grid id="grid_pie_chart"  style="display: none;"
       [view]="[1000,400]"
      [results]="books"
      [animations]="true"
      (select)="onSelect_pie_grid($event)" >
    </ngx-charts-pie-grid>

    </td>
  </tr>


</table>
</div>

<!-- pop up start -->


